header {
  background-image: url(../images/bg-hero-mobile.svg);
  background-color: var(--very-pale-cyan);
  background-repeat: no-repeat;
  padding-bottom: 3rem;
}

.center {
  max-width: 90%;
  margin: auto;
}

.nav {
  height: 10rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand img {
  width: 60%;
}

.button-try a {
  width: 140px;
  background-color: var(--very-white);
  padding: .8rem 0;
  font-size: 1.4rem;
  border-radius: 3rem;
  box-shadow: 0 0 10px rgba(212, 212, 212, 0.897);
  color: var(--very-dark-cyan);
  text-align: center;
  font-weight: 700;
}

@media screen and (min-width: 1024px){
  .button-try a {
    width: 160px;
    padding: 1rem 0;
    cursor: pointer;
  }

  .button-try a:hover {
    color: var(--grayish-blue); 
  }
}

/***/

.build {
  padding: 0 2rem;
  text-align: center;
}

.build h1 {
  font-size: 2.4rem;
}

.build p,
.button-start a,
.image-table img {
  margin: auto;
}

.build p {
  width: 90%;
  font-size: 1.4rem;
  font-weight: 500;
}

.button-start a {
  width: 80%;
  background-color: var(--pink);
  padding: 1.3rem 0;
  font-size: 1.3rem;
  color: var(--very-pale-cyan );
  font-weight: 500;
  margin-top: 3rem;
  margin-bottom: 4.5rem;
}

.image-table img {
  width: 100%;
}

@media screen and (min-width: 500px) {
  .community {
    margin-top: 6rem;
  }

  .build h1 {
    font-size: 3.2rem;
  }

  .build p {
    width: 85%;
    font-size: 1.8rem;
  }

  .button-start a {
    width: 75%;
    margin-top: 4.5rem;
    margin-bottom: 7rem;
  }

  .image-table img {
    width: 90%;
  }
}

@media screen and (min-width: 640px) {
  .community {
    margin-top: 7rem;
  }

  .build h1 {
    width: 70%;
    margin: auto;
  }

  .build p {
    width: 65%;
    margin-top: 3rem;
    
  }

  .button-start a {
    width: 55%;
  }

  .image-table img {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 0;
    height: 85vh;
    background-image: url(../images/bg-hero-desktop.svg);
    background-position: center;
    background-size: cover;
  }

  .community {
    margin: 0;
    height: calc(85vh - 10rem);
    
    display: flex;
    /* gap: 5rem; */
  }

  .flex-center {
    width: 50%;
    height: 100%;

    display: grid;
    place-items: center;
  }

  .build {
    padding: 0;
    text-align: left;
    width: 100%;
  }

  .build h1 {
    margin: 0;
    width: 400px;
  }

  .build p {
    width: 410px;
    font-weight: 400;
    margin: 3rem 0;
  }

  .button-start a {
    margin: 0;
  }

  .image {
    width: 50%;
    height: 100%;

    display: grid;
    place-items: center;
  }

  .image-table {
    width: 100%;
  }

  .image-table img {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  header {
    height: 95vh;
  }

  .community {
    height: calc(95vh - 10rem);
  }

  .flex-center {
    width: 45%;
  }

  .build p {
    width: 510px;
    font-weight: 400;
    margin: 3rem 0;
   
  }

  .image {
    width: 55%;
  }

  .image-table img {
    width: 95%;
  }
}
